@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  font-family: $font-primary;
  color: $color-text;
  background: $color-white;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 2rem;
  scroll-margin-top: 100px;
}
